# App
gunicorn==20.1.0
pydantic==1.9.0
msgpack-python==0.5.6
celery==5.2.6
requests==2.27.1

# Database
sqlalchemy==1.4.36
databases[postgresql]==0.4.2
psycopg2==2.9.3
alembic==1.7.5

# Data analysis
pandas==1.4.2
numpy==1.22.3

# Dashboard
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-bootstrap-templates==1.0.5

# Pymongo (Used for migrations)
pymongo[srv]==4.1.0

# Helper libraries
alive_progress